@font-face {
        font-family: "goofy";
        src: url("../assets/WholecarWhite_PERSONAL_USE_ONLY.otf");
    }





h3 {color: darkred;
    font-size: 2.5rem;/*rem pour adapter à tout kles appareil ou em*/

}
#gogo {width: 200px;
    height: 200px;

}

h4 {color: rgb(220, 20, 20);
    font-size: 2rem;
}

body {background-color: rgb(0, 0, 0);
}

#Coordonnees {background-color: antiquewhite;
            border: black 3px solid;
            width: 20%;
            border-radius: 10px;
            padding: 10px;
            box-shadow: 5px 5px 2.5px 5px;
            transition: 1s;
            margin-bottom: 5%;
            color: black;
            

}
#Coordonnees:hover {background-color: blueviolet;
                transform: translate3d(10px, 10px, 0px);
                transition: 1s

}

#Experiences {background-color: aliceblue;
            border: black 3px solid;
            background-size: contain;
            width: 45%;
            border-radius: 10px;
            font-family: cursive;
            margin-bottom: 5%;

}

#formations {
    background-color: aliceblue;
    border: black 3px solid;
    background-size: contain;
    width: 45%;
    border-radius: 10px;
    font-family: cursive;
    

}





let menu=document.getElementById("menu") /*recup element html*/
let zone=document.getElementById("gameZone")

/* definit fonctions*/

function menuChange() {
    switch(menu.value)  {
        case"1":
            fairNumber()
            break
        case"2":
            TicTacDoe()
        default:
            reset ()
            break

    }
}
    
    function reset () {
        zone.innerHTML=""

    }

    function fairNumber() {

        reset()

        zone.innerHTML="<h2>Bon jeu mon gâté!</h2>"


        let randomTarget=Math.floor(Math.random()*100)+1
        console.log(randomTarget)
        let count=0
        let playerInput=document.createElement("input")
        playerInput.setAttribute("type", "text")
        playerInput.setAttribute("id", "playerInput")
        playerInput.setAttribute("placeholder", "Devine mon ptit zizitop3000")
        
        let inputLabel=document.createElement("label")
        inputLabel.setAttribute("for", "playerInput")
        inputLabel.innerHTML="devine le chiffre entre 1 et 100 poto"
        let submitButton=document.createElement("button")
        submitButton.innerHTML="valide man pote"
        submitButton.addEventListener("click", compareNumber)

        
        zone.appendChild(inputLabel)
        zone.appendChild(playerInput)
        zone.appendChild(submitButton)

        function compareNumber () {
                console.log("check")
                count++

                let userNumber=parseInt(playerInput.value)
                let message=`coup n°${count} - proposition ${userNumber} -`
                if (isNaN(userNumber)) {
                        message="il faut un chiffre frérot tu crois arnaquer qui là"
                    }  
                    else if(randomTarget<userNumber) {
                        message+="trop grand l'équipage"
                    }
                    else if (randomTarget>userNumber) {
                        message+="trop petit man poteeee aaaa"
                    } 
                    else {
                        message+=`Au nom c'est ça, t'a trouvé en ${count} coups mon bg à la crème anglaise`
                    }

                    let newMessage=document.createElement("p")
                    newMessage.innerHTML=message
                    zone.appendChild(newMessage)
                    return true

        }
    
    }


    
    function ticTacDoe() {
        reset()
        console.log('jeu du morpion')
    
        let infoPanel = document.createElement('div')
        infoPanel.classList.add('infoPanel')
    
        let grid = document.createElement('div')
        grid.classList.add('grid')
    
        zone.appendChild(infoPanel)
        zone.appendChild(grid)
        zone.classList.add('ttdZone')
    }

    
    /*if(menu.value=="0") {
        zone.style.backgroundColor="darkred"
    }
    else if (menu.value=="1")
        zone.style.backgroundColor="rgb(155, 0, 31)"*/


/*on configure les events*/

menu.addEventListener("change", menuChange)

