main {
    display: flex;
flex-direction: column;
justify-content: start;
align-items: center;
background-color: rgb(120, 0, 0);
padding-top: 5vh/*hauteur écran %*/;
background: linear-gradient(to left, rgb(39, 39, 39), black)

}

article {
    width: 80%;
    background-color: rgb(0, 0, 0);
    box-shadow: whitesmoke 5px 5px 10px 0px;
    padding: 10px;
    transition: 0.2s;



}

article:hover {
    box-shadow: rgb(255, 0, 0) 5px 5px 10px 0px; /* x, y, largeur de diffusion de l'ombre*/
    transition: 0.2s;
    transform: translate3d(10px, 10px, 0px);
    background-color: antiquewhite;
    color: black;


}

article>p:hover {
        color: rgb(255, 0, 0);


}

article>ul:hover {
    color: rgb(255, 0, 0);


}



article>h2 {
    font-size: 2em;
    color: rgb(165, 21, 21);


}

article>h3 {
    font-size: 1.5em;
    color: brown


}

.ytb {

    width:960px; 
    height:680px;
    padding-bottom: 20vh;
    margin-left: 13vw;
}

article>p, article>li{
font-size: 1.2em;

}

article>ul{
    margin-left: 20px;


}


.spotify {
    
    transition: 1s;
    


     
}

.espace {

    height: 70vh;
    width: 100%;
    background-image: url(../assets/dinguerie.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 2vw;
    margin-bottom: 2vw;
    
}

.spotify:hover {
    
    transition: 1s;
    transform: translate3d(10px, 10px, 0px);
}



