@font-face {
        font-family: "goofy";
        src: url("../assets/Super\ Sedan.ttf");
    }

@font-face {
    font-family: "minecraft";
    src: url(../assets/Minercraftory.ttf); /* création de police*/
}

@font-face {
    font-family: "yo";
    src: url(../assets/University.otf);
}




*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    display: flex; /*autoriser une liberté dans la box*/
    flex-direction: column; /* agencement */
    justify-content: center; /* vertical alignement*/
    align-items: center; /* aligner en ligne*/

    width: 100vw;
    height: 20vh; /*vh pourcentage d'écran*/
    background-color: rgb(78, 0, 0);
    color: antiquewhite;
    font-family: fantasy;
    background-image:url(../assets/reeed.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

}

header>h1 {
    font-size: 100px;
    font-family: "goofy";
    

}

header>h2 {
    font-size: 25px;
    font-family: "minecraft";
   

}

body {
    background-color: black;
    color: antiquewhite;


}

footer {
    background-color: antiquewhite;

}

iframe {
    margin-top: 100%;
    margin-left: 5%;


}

#discord {
    transition: 1s;
}

#discord:hover {
    transform: translate3d(20px, 20px, 0px);
    transition: 1s;


}

nav {
    height: 90vh;
    width: 20vw;
    color: antiquewhite;
    background-color: rgb(202, 0, 0);
    background: linear-gradient(to right, rgb(146, 0, 0), black);
    display: flex;
    flex-direction: column;
    color: rgb(255, 83, 20);
    gap: 5vh;
    
    
    
    
}

.bouton {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    background-color: rgb(100, 46, 46);
    border-radius: 0.5vh;
    padding: 2vh;
    text-align: center;
    font-family: "yo";
    border: rgb(210, 210, 210) 1px solid;
    transition: 0.5s;


}

.bouton:hover {
    background-color: rgb(139, 0, 0);
    box-shadow: whitesmoke 5px 5px 10px 0px; /* x, y, largeur de diffusion de l'ombre*/
    transition: 0.5s;


}
