@font-face {
        font-family: "goofy";
        src: url("../assets/WholecarWhite_PERSONAL_USE_ONLY.otf");
    }

@font-face {
    font-family: "minecraft";
    src: url(../assets/Minercraftory.ttf); /* création de police*/
}

@font-face {
    font-family: "yo";
    src: url(../assets/University.otf);
}




*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    display: flex; /*autoriser une liberté dans la box*/
    flex-direction: column; /* agencement */
    justify-content: center; /* vertical alignement*/
    align-items: center; /* aligner en ligne*/
    position: fixed;

    width: 100vw;
    height: 20vh; /*vh pourcentage d'écran*/
    background-color: rgb(78, 0, 0);
    color: antiquewhite;
    font-family: fantasy;
    background-image:url(../assets/reeed.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 10;

}

header>h1 {
    font-size: 100px;
    font-family: "goofy";
    

}

header>h2 {
    font-size: 25px;
    font-family: "minecraft";
   

}

body {
    background-color: black;
    color: antiquewhite;


}

footer {
    background-color: antiquewhite;

}



/*iframe:hover {
    transition: 1s;
    height: 500;

}

#discord {
    margin-bottom: vh;
    transition: 1s;

}

#discord:hover {
    transform: translate3d(20px, 20px, 0px);
    transition: 1s;


}*/

nav {
    height: 150vh;
    width: 20vw;
    color: antiquewhite;
    background-color: rgb(202, 0, 0);
    background: linear-gradient(to right, rgb(146, 0, 0), black);
    display: flex;
    flex-direction: column;
    color: rgb(255, 83, 20);
    gap: 5vh;
    position: fixed;
    top: 20vh;
    z-index: 10;
    
    
    
    
    
}

.bouton {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    background-color: rgb(100, 46, 46);
    border-radius: 0.5vh;
    padding: 2vh;
    text-align: center;
    font-family: "yo";
    border: rgb(210, 210, 210) 1px solid;
    transition: 0.2s;
    margin-top: 30px;
    width: 25vh;
    margin-left: 5vh;
    


}

.bouton:hover {
    background-color: rgb(139, 0, 0);
    box-shadow: whitesmoke 5px 5px 10px 0px; /* x, y, largeur de diffusion de l'ombre*/
    transition: 0.2s;
    transform: translate3d(10px, 10px, 0px);


}

#onclick {
    text-decoration: none;
            color: rgb(0, 0, 0);
            display: block;
            background-color: rgb(100, 46, 46);
            border-radius: 0.5vh;
            padding: 2vh;
            text-align: center;
            border: rgb(210, 210, 210) 1px solid;
            transition: 0.2s;
            cursor: pointer;
            font-family: "yo";
            transition: 0.2s;
            width: 25vh;
            margin-left: 5vh;
}

#onclick:hover {

    background-color: rgb(139, 0, 0);
    box-shadow: whitesmoke 5px 5px 10px 0px; /* x, y, largeur de diffusion de l'ombre*/
    transition: 0.2s;
    transform: translate3d(10px, 10px, 0px);

}

main {
    width: 80vw/*pourcentage décran*/;
    position: relative;
    top: 20vh;
    left: 20vw;
    width: 80vw;


}


footer {
    position: fixed;
    background-image:url("../assets/footer.png");
    background-color: rgba(165, 42, 42, 0);
    z-index: 10;
    bottom: 0;
    left: 20vw;
    height: 10vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80vw;
    

}


